/* Resets & variables */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5{
  text-transform: uppercase;
  margin:0px;
}

/* Swatches */
$red:#ff002a;
$navy:#04304c;
$blue:#a8dadb;
$notwhite:#f4faf2;
$grey:#333333;

/* breakpoints */
$tablet:1030px;
$mobile:630px;

$imgpath:'/images/';

/**** Template ****/
body{
  background-color:$notwhite;
  font-family: 'Lato', sans-serif;
  color:$grey;
  font-size:16px;
  line-height:30px;
  a{
    color:$grey;
    text-decoration: none;
  }
}

/* Wrapper */
.wrapper{
  width:100%;
  height:100%;
}

.margins{
  width:100%;
  margin:auto;
  box-sizing: border-box;
  padding:0px 60px;
}

/* Header */
header{
  position: absolute;
  width:380px;
  height:120px;
  top:0px;
  left:0px;
  .background{
    background-color:$blue;
    width:380px;
    height:120px;
    position: absolute;
    -webkit-clip-path: polygon(0 80%, 0 0, 100% 0);
    clip-path: polygon(0 80%, 0 0, 100% 0);
    top:0px;
    left:0px;
    z-index:6;
  }
  h1,h4,#logo{
    z-index:10;
    position:absolute;
  }
  h1,h4{
    font-family: 'Fugaz One', cursive;
  }
  h1, h1 a{
    color:$red;
  }
  h1{
    font-size:58px;
    text-shadow:2px 4px $navy;
    padding:46px 0px 0px 60px;
    height:80px;
  }
  h4, h4 a{
    color:$notwhite;
    text-shadow:1px 1px $navy;
  }
  h4{
    font-size:22px;
    padding:83px 0px 0px 60px;
  }
  #logo{
    width:52px;
    height:41px;
    background-image:url($imgpath+'hamburger.svg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    display:block;
    top:40px;
    right:56px;
    cursor:pointer;
  }
}

/* Nav */
#menu{
  display:none;
}


/* Footer */
footer{
  padding:6px;
  font-size:14px;
  background-color: $notwhite;
  width:100%;
  box-sizing: border-box;
  nav{
    text-align:center;
    width:100%;
    margin:auto;
    display:block;
    box-sizing: border-box;
    a{
      color:$red;
      padding:0px 10px;
    }
  }
}


/**** Widgets/blocks ****/
/* Features List/amenities */
.featureList{
  li{
    display:inline-block;
    margin:0px 10px 0px 0px;
    svg{
      fill:$blue;
      height:30px;
      width:30px;
    }
  }
}

/* Location listings */
.locationListings{
  background-size: 40px 40px;
  background-color:$blue;
  background-image:
  linear-gradient(to left, $red 1px, transparent 1px),
  linear-gradient(to top, $red 1px, transparent 1px);
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 46px;
  padding:50px 2vw;
  width:100%;
}

.locationListing{
  display:block;
  max-width:374px;
  width:33.33%;
  background-color:$notwhite;
  padding:33px;
  filter: drop-shadow(8px 8px $navy);
  h4{
    font-weight: 900;
    font-size:20px;
  }
  ul,li{
    list-style: none;
    svg{
      width:26px;
      height:26px;
    }
  }
  img{
    max-width:100%;
    border-bottom:5px $red solid;
  }
}

/* Feature */
#feature{
  .featureImg{
    background-image:url($imgpath+'feature/muriwai_1.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:500px;  
  }
  .featureImg, .titleBar{
    display:block;
    width:100%;
    
    position:relative;
  }
  
  .featureImg.content, .titleBar{
    height:260px;  
  }
  h2{
    z-index:100;
    position:absolute;
    font-size:52px;
    color:$notwhite;
    text-shadow:1px 1px $navy;
    font-weight:900;
    margin-left:60px;
    bottom:12px;
    width:100%;
    max-width:400px;
    line-height:48px;
  }
  .titleBar{
    background-color:$notwhite;
    h2{
      color:$navy;
    }
  }
  .bodyCopy{
    background-color:$notwhite;
    border-top: 4px $red solid;
    padding-top:24px;
    padding-bottom:90px;
  }
  .readMore{
    font-weight:900;
    color:$blue;
  }
  .featureList li svg{
    height:38px;
    width:38px;
  }
}

/* Search */
#searchWidget{
  position:absolute;
  bottom:0px;
  right:0px;
  background-color:$navy;
  color:$notwhite;
  padding:22px 30px;
  text-transform: uppercase;
  width:100%;
  max-width:412px;
  svg{
    cursor:pointer;
    &:hover {
      fill:$notwhite;
    }
  }
  li.active svg{
    fill:$red;
  }
  h3{
    font-weight:900;
    font-size:26px;
  }
  input[type="text"], button{
    border:none;
    color:$notwhite;
    padding:0px 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    height:30px;
    &:focus{
      border:none;
      outline: none;
    }
  }
  input[type="text"]{
    background: rgba(255, 255, 255, 0.479);
    width:76%;
    text-align:left;
  }
  input::placeholder{
    color:$notwhite;
  }
  button{
    background-color: $red;
    text-align:right;
    width:22%;
    text-align:center;
    cursor: pointer;
  }
  .searchByLoc{
    width:200px;
    position:absolute;
    top:-30px;
    right:30px;
    a{
      color:$notwhite;
    }
  }
}

.noResults{
  width:100%;
  box-sizing: border-box;
  padding-top:20px;
  font-weight: 900;
  font-size:20px;
  a{
    color:$red;
    cursor:pointer;
  }
}

/* map */
.mapWrap{
  width:40vw;
  height:40vw;
  margin:auto;
  @media (max-width:600px) {
    width:80vw;
    height:80vw;
  }
}

/**** Pages ****/